<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.touchirc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize" >
        <activity
            android:name="org.touchirc.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.touchirc.activity.ConversationActivity" >
        </activity>
        <activity android:name="org.touchirc.activity.CreateProfileActivity">
        </activity>
        <activity android:name="org.touchirc.activity.ExistingProfilesActivity">
        </activity>
        <activity android:name="org.touchirc.activity.CreateServerActivity">
        </activity>
        <activity android:name="org.touchirc.activity.ExistingServersActivity">
        </activity>
        <activity android:name="org.touchirc.activity.menuActivity">
        </activity>

        <service
            android:name="org.touchirc.irc.IrcService"
            android:enabled="true" />
    </application>

</manifest>
