<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.touchirc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize" >
    
        <activity android:name=".activity.ConversationActivity"
            	  android:launchMode="singleInstance"/>
        <activity android:name=".activity.CreateProfileActivity"/>
        <activity android:name=".activity.ExistingProfilesActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".activity.CreateServerActivity"/>
        <activity android:name=".activity.ExistingServersActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".activity.MenuActivity"
            	  android:launchMode="singleInstance"/>
        <activity android:name=".activity.LauncherActivity"
                  android:label="@string/app_name"
                  android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".irc.IrcService"
            android:enabled="true" />
    </application>

</manifest>
